  html,
  body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-family: "PT Sans";
    text-transform: uppercase;
    background-color: #f2f2f2;
  }
  
  .wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .main-header {
    position: relative;
  }
  
  .header-logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
  }
  
  .main-navigation ul {
    display: block;
    width: 88%;
    padding: 0 6%;
    margin: 0 auto;
    list-style: none;
    font-size: 0;
  }
  
  .main-navigation li {
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    vertical-align: top
  }
  
  .main-navigation li.right {
    float: right;
  }
  
  .main-navigation li.left {
    float: left;
  }
  
  .main-navigation a {
    display: block;
    padding: 15px 0;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  
  .main-navigation li:first-child {
    margin-left: 0;
  }
  
  .main-navigation li:nth-child(3) {
    margin-right: 0;
  }
  
  .main-navigation a:hover {
    color: #81b3d2;
  }
  
  .main-navigation a:active {
    color: #000000;
    opacity: 0.3;
  }
  
  .promo-image1 {
    background-image: url("../img/index/background%20photo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    margin-bottom: 58px;
  }
  
  .promo-image2 {
    background: url("../img/index/welcome.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }
  
  .promo-image3 {
    background: url("../img/index/bacgrounddown.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 510px;
  }
  
  h1.features {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 28px;
  }
  
  p.features {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 52px;
    line-height: 26px;
  }
  
  h1 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
  }
  
  h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    margin: 0;
  }
  
  h3 {
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
  }
  
  .features-item {
    display: block;
    width: 100%;
    height: 256px;
    overflow: hidden;
  }
  
  .item-left {
    float: left;
  }
  
  .item-right {
    float: right;
  }
  
  .item-picture {
    width: 800px;
  }
  
  .item-description {
    background-color: #81b3d2;
    width: 400px;
    height: 256px;
    text-align: center;
  }
  
  .description-container {
    width: 302px;
    padding-top: 55px;
    padding-bottom: 51px;
    margin: auto;
  }
  
  .features-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 25px;
  }
  
  .features-description {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
  }
  
  span.features-description {
    display: block;
    margin-bottom: 22px;
  }
  
  p.features-description {
    margin: 0;
  }
  
  .features-additional {
    padding-top: 60px;
    margin-bottom: 70px;
  }
  
  .features-add {
    float: left;
    width: 33%;
    text-align: center;
  }
  
  .features-img {
    height: 80px;
  }
  
  .add-description {
    margin-top: 21px;
  }
  
  h2.add-descript {
    margin-bottom: 24px;
  }
  
  .features-item-last {
    padding-bottom: 45px;
    padding-top: 48px;
    background-color: #eeeeee;
    margin-bottom: 60px;
  }
  
  .features-add {
    float: left;
    width: 33%;
    text-align: center;
  }
  
  .features-add span {
    display: block;
    margin-bottom: 21px;
    margin-top: 25px;
  }
  
  .features-add p {
    width: 285px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search {
    width: 100%;
    height: 710px;
    text-align: center;
  }
  
  .search-main {
    position: relative;
    width: 100%;
    background: url("../img/index/map.png") no-repeat bottom;
    padding-bottom: 81px;
  }
  
  .search-title h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .search-title p {
    line-height: 24px;
    margin-bottom: 47px;
  }
  
  .search-conteiner {
    width: 462px;
    height: 284px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    padding: 55px 54px;
  }
  
  .search-header button {
    width: 568px;
    height: 86px;
    background-color: #766357;
    font-family: "PT Sans";
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    border: 0;
  }
  
  .search-form input {
    margin-bottom: 29px;
    width: 332px;
    border: 0;
    background-color: #f2f2f2;
    padding-left: 14px;
  }
  
  .icon-calendar::before {
    position: absolute;
    font-size: 1.5em;
    left: 795px;
    top: 65px;
    opacity: 0.2;
  }
  
  .half-width input {
    width: 115px;
    margin-bottom: 52px;
    border: 0;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
    text-align: right;
  }
  
  .number {
    width: 115px;
    height: 37px;
    margin-left: 30px;
  }
  
  .left input {
    margin-left: 40px;
  }
  
  .date {
    width: 345px;
    height: 37px;
    margin-left: 20px;
  }
  
  .search-btn {
    width: 100%;
    height: 60px;
    background-color: #81b3d2;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    font-family: "PT Sans";
    text-transform: uppercase;
  }
  
  .search-form,
  .half-width,
  .date,
  .number {
    font-family: "PT Sans";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
  }
  
  .main-footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .footer-hashtag {
    width: 33%;
    float: left;
    text-align: center;
  }
  
  .footer-hashtag h1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .footer-social {
    width: 33%;
    float: left;
    text-align: center;
  }
  
  .social-btn {
    display: inline-block;
    background-color: #81b3d2;
    color: #ffffff;
    width: 46px;
    height: 48px;
    margin: 0 2px;
    vertical-align: middle;
  }
  
  a.icon-facebook::before,
  a.icon-twitter::before,
  a.icon-youtube::before {
    text-decoration: none;
    font-size: 1.5em;
    margin: 14px 13px;
  }
  
  .footer-copyright {
    width: 33%;
    float: right;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 5px;
  }
  
  .footer-copyright img {
    vertical-align: middle;
  }
  /*inner*/
  
  .search-options {
    display: block;
    width: 1054px;
    padding: 30px 73px;
    background-image: url("../img/inner/filterbackground.jpg");
    background-repeat: no-repeat;
  }
  
  .search-options-item {
    float: left;
    width: 240px;
    display: block;
    text-align: left;
    margin-right: 15px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    font-family: "PT Sans";
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .search-options-item ul {
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0;
  }
  
  .search-options-item li:last-child {
    margin-bottom: 0;
  }
  
  .search-options-item li {
    list-style: none;
    margin-bottom: 25px;
  }
  
  .search-options div:last-child {
    float: right;
    width: 340px;
    margin-right: 0;
  }
  
  .search-options-item input {
    display: none;
  }
  
  span.options-name {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans";
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .results {
    width: 1200px;
    height: 540px;
  }
  
  .results-header {
    padding: 30px 70px;
    border-bottom: 1px solid #cccccc;
  }
  
  .results-name {
    float: left;
    width: 120px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
  }
  
  .results-sort {
    float: left;
    width: 365px;
    margin-left: 45px;
  }
  
  .sorter {
    float: right;
    width: 35px;
  }
  
  .results-item {
    padding: 30px 70px;
    border-bottom: 1px solid #cccccc;
  }
  
  .results-img {
    float: left;
    width: 135px;
    height: 90px;
  }
  
  .results-item-left {
    float: left;
    margin-left: 30px;
    width: 280px;
  }
  
  .results-item-right {
    float: right;
    width: 110px;
  }
  
  .results-item-name {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
  }
  
  .cell,
  .cell-1,
  .cell-2 {
    padding: 0;
  }